<a href="https://colab.research.google.com/github/raflidzaky/raflidzaky/blob/main/Learning_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# IMPORT DAN SAVE TABEL

## **Import Tabel dari Local**

In [1]:
from google.colab import files
uploaded = files.upload()

Saving cars.csv to cars.csv

## **Push Table ke Colab**

In [2]:
import io
import pandas as pd
df2 = pd.read_csv(io.BytesIO(uploaded['cars.csv']))

## Push Modified Table ke Local
In case mau framework kerja kayak SQL

In [ ]:
df2.to_csv('modified_table.csv', index = False) 
# Logikanya, dataframe mana yg mau kita push ke local, tapi kita gamau  index (sebelah kiri #, masuk ke tabel)

# MEMBACA TABEL DALAM PANDAS

DISCLAIMER
1. Agar data yg ditampilkan bisa berupa tabel, gausah "print". Tapi konsekuensinya, dia cuma bisa sekali aja di satu cell. Kalo ada dua syntax ga ada print, output ga keluar
2. Jadi salah satu harus ngalah

## Menampilkan Seluruh Table

In [ ]:
# variabel harus berupa df agar dia mengenali klo kita mau data frame
import pandas as pd
df3 = pd.read_csv('cars.csv') # ini udh untuk munculin tabel
# tampilan harus diprint!!
df3.info()

In [21]:
# ganti nama kolom
  ## unnamed: 0 itu tuh nomor nya anjg
df3.rename(columns={'Unnamed: 0': 'No.'}, inplace = True)
df3 # kita panggil tabel

,No.,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,...,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,status
0,0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495,non-degradable
1,1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500,non-degradable
2,2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500,non-degradable
3,3,2,164,audi,gas,std,four,sedan,fwd,front,...,mpfi,3.19,3.40,10.0,102,5500,24,30,13950,non-degradable
4,4,2,164,audi,gas,std,four,sedan,4wd,front,...,mpfi,3.19,3.40,8.0,115,5500,18,22,17450,non-degradable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,200,-1,95,volvo,gas,std,four,sedan,rwd,front,...,mpfi,3.78,3.15,9.5,114,5400,23,28,16845,non-degradable
201,201,-1,95,volvo,gas,std,four,sedan,rwd,front,...,mpfi,3.78,3.15,8.7,160,5300,19,25,19045,non-degradable
202,202,-1,95,volvo,gas,std,four,sedan,rwd,front,...,mpfi,3.58,2.87,8.8,134,5500,18,23,21485,non-degradable
203,203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,...,idi,3.01,3.40,23.0,106,4800,26,27,22470,NaN
204,204,-1,95,volvo,gas,std,four,sedan,rwd,front,...,mpfi,3.78,3.15,9.5,114,5400,19,25,22625,non-degradable

## Perincian Table

UNTUK MEMANGGIL CERTAIN KOLOM DOANG DGN CERTAIN ROW

In [73]:
# method ini bertujuan untuk mendetailkan si Python harus nampilin apa di print
## read columns
print(df3.columns)
    ### column di pandas (data frame), selalu dinyatakan dalam suatu struktur data (set, list, tuple)

## read certain column
print(df3['fuel-system'][0:-50])
  ### sebelah kanan semicolon, kalau bertanda negatif, brrt dia mau tampilin sampai angka/index yg didapet dari (seluruh row - angka yg kanan)
  ### kalau bertanda positif, berarti dia mau tampilin data sampai angkanya/index (urutan Python)
  ### sebelah kiri semicolon itu bermakna starting "angka urutan riil di tabel" (positif aja)

## read sejumlah certain column II
## harus bersifat list dalam list
## outer nya harus list, inner nya boleh set
df3[['fuel-system', 'symboling', 'normalized-losses']][0:-50]
    ### Logikanya, df3 = FROM, trus SELECT kolom, slicing = LIMIT

Index(['No.', 'symboling', 'normalized-losses', 'make', 'fuel-type',
       'aspiration', 'num-of-doors', 'body-style', 'drive-wheels',
       'engine-location', 'wheel-base', 'length', 'width', 'height',
       'curb-weight', 'engine-type', 'num-of-cylinders', 'engine-size',
       'fuel-system', 'bore', 'stroke', 'compression-ratio', 'horsepower',
       'peak-rpm', 'city-mpg', 'highway-mpg', 'price', 'status', 'count'],
      dtype='object')
0      mpfi
1      mpfi
2      mpfi
3      mpfi
4      mpfi
       ...
150    2bbl
151    2bbl
152    2bbl
153    2bbl
154    2bbl
Name: fuel-system, Length: 155, dtype: object

    fuel-system  symboling normalized-losses
0          mpfi          3                 ?
1          mpfi          3                 ?
2          mpfi          1                 ?
3          mpfi          2               164
4          mpfi          2               164
..          ...        ...               ...
150        2bbl          1                87
151        2bbl          1                87
152        2bbl          1                74
153        2bbl          0                77
154        2bbl          0                81

[155 rows x 3 columns]

In [ ]:
df3.iloc[5:205, 1:17]
  ### iloc ini bisa untuk slicing row dan column
  ### struktur iloc ini adalah (row, column)

df3[['symboling','normalized-losses', 'make', 'length']][0:-55].loc[df3['length']>200]
  ### loc ini bertujuan seperti SELECT WHERE --> menampilkan data dgn kriteria tertentu
  ##  logika code di atas, kita SELECT column FROM df3 WHERE length > 200 LIMIT 155

# Basically SQL-like process, tapi dia ga bisa narik data

df = df3[['symboling', 'normalized-losses', 'make']]
df.loc[df['normalized-losses'] != '?'].head(5)

## Filtering Tabel

In [ ]:
# Multiple Filtering
  ## AND
df4 = df3.loc[(df3['normalized-losses'] != '?') & (df3['num-of-doors'] == 'two')]
df4
  ## OR
df4 = df3.loc[(df3['normalized-losses'] != '?') | (df3['num-of-doors'] == 'two')]
df4

## Filtering Tabel: Regex

In [ ]:
# Filter contain suatu komponen
  ## in case lupa the full name
df4 = df3.loc[(df3['body-style'].str.contains('edan')) | (df3['body-style'].str.contains('verti'))]
df4
  ### Logikanya, kita mau SELECT * FROM df3 dmn body style mengandung kata edan atau verti

# Code di atas sangatlah ga clean. Solusinya, kita import fungsi regexp untuk cleaning the code with exact function
  ## Regex powerful asf even in SQL too
import re
df4 = df3.loc[df3['body-style'].str.contains('edan|verti', regex = True)]
df4

# Case kalau kita ga ingin dua value dgn contains, gimana hayo?
import re 
df4 = df3.loc[~df3['body-style'].str.contains('edan|verti', regex = True)]
df4
  # Logikanya, kita ingin SELECT dgn kondisi NOT contains edan or verti

# in case kita lupa capitalization gmn dan gamau regexp match nya case sensitive
import re
df4 = df3.loc[df3['body-style'].str.contains('eDan|verTi', flags = re.I, regex = True)]
df4
  ## Logikanya, regex matching itu case sensitive, thus eDan dan verTi udh pasti ga bakal match
  ## makanya, kita mau ga case sensitive matchingnya

In [ ]:
## Filtering Regex II
  ### Mencari awalan kata
import re
df4 = df3.loc[df3['body-style'].str.contains('^sE', flags = re.I, regex = True)]
df4
    ### Maksud code: Menampilkan df3 dgn bodystyle ber-value awalan Se (case insensitive)
  
  ### Mencari akhiran kata
import re
df4 = df3.loc[df3['body-style'].str.contains('aN*', flags = re.I, regex = True)]
df4 

  ### Mencari awalan kata dgn akhiran bebas
import re
df4 = df3.loc[df3['body-style'].str.contains('sE[dan]*', flags = re.I, regex = True)]
df4 
    #### Maksud code: Menampilkan df3 dgn bodystyle ber-value awalan Se, berakhiran dan (case insensitive)

,Unnamed: 0,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
3,3,2,164,audi,gas,std,four,sedan,fwd,front,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,4,2,164,audi,gas,std,four,sedan,4wd,front,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450
5,5,2,?,audi,gas,std,two,sedan,fwd,front,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,15250
6,6,1,158,audi,gas,std,four,sedan,fwd,front,...,136,mpfi,3.19,3.40,8.5,110,5500,19,25,17710
8,8,1,158,audi,gas,turbo,four,sedan,fwd,front,...,131,mpfi,3.13,3.40,8.3,140,5500,17,20,23875
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,200,-1,95,volvo,gas,std,four,sedan,rwd,front,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845
201,201,-1,95,volvo,gas,turbo,four,sedan,rwd,front,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045
202,202,-1,95,volvo,gas,std,four,sedan,rwd,front,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485
203,203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470
204,204,-1,95,volvo,gas,turbo,four,sedan,rwd,front,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625

## Case Study

In [ ]:
# Kita ingin memfilter df3 agar ga include normalized-losses "?"
# Kode awal
df = df3[['symboling', 'normalized-losses', 'make']]
df.loc[df['normalized-losses'] != '?']
df.head(50) ## Kode ini menghasilkan error. Kenapa? Karena line kedua dan ketiga sama2 bisa tampilin data
  ## Whilst tampilin dgn df doang itu ga bisa dua2. 
  ## Plus, itu line kedua dan line ketiga beda process, yg satu filtering yg satu tampilin w/o filter

# Solusinya gimana?
  ## Buat variabel
df = df3[['symboling', 'normalized-losses', 'make']]
df1 = df.loc[df['normalized-losses'] != '?']
df1.head(50) # Solusi ini ga praktis krn penempatan variabel kurang pas

  ## Buat dual method
df = df3[['symboling', 'normalized-losses', 'make']]
df1 = df.loc[df['normalized-losses'] != '?'].sort_values('normalized-losses', ascending = False)
df1.head(150)
    ### Processing method itu berurutan dr kiri ke kanan

     symboling normalized-losses       make
19           1                98  chevrolet
204         -1                95      volvo
203         -1                95      volvo
202         -1                95      volvo
200         -1                95      volvo
..         ...               ...        ...
51           1               104      mazda
137          2               104       saab
133          2               104       saab
50           1               104      mazda
135          2               104       saab

[150 rows x 3 columns]

# AGGREGATE

## Describe or Sorting

### Describe
Untuk menampilkan statistik deskriptif

In [ ]:
df3.describe()

### Sorting
Mengurutkan data by suatu kolom

In [ ]:
# Sort by Value
df3[['length', 'body-style', 'fuel-type']][0:103].sort_values('length', ascending = False) 
  # False brrt dia descending, true brrt ascending
  # Logikanya, kita nentuin table-nya dulu, terus pilih row mana, dan sorted by apa

# Sort by Index
#df3['length'][50:61].sort_index(ascending = False)

## Group by Statistics

In [69]:
# Group by (MEAN, MEDIAN, SUM, COUNT)
df3.groupby(['body-style']).mean().sort_values(['wheel-base', 'length'], ascending = False)
  ## Maksud code: dia menampilkan mean atribut dr seluruh body-style, diurutkan based on wheel-base & strength

df3.iloc[:, 2:27].groupby(['body-style']).count()
  ## New knowledge: count ini dia ga ngitung data NULL or FALSE (is it?)

df3[['body-style']].groupby(['body-style']).count()
  ## Maksud code: aku mau liat distinct value dari body-style tuh apap ajah
  ## Maksud code II: kok bisa? karena kita udah khususin kolom yg muncul itu tuh body style
  ### inget method diproses dr kiri?
  ## WARNING: Pake groupby ni ga bisa khususin kolom yg ga sesuai dgn argumen method groupby

Empty DataFrame
Columns: []
Index: [convertible, hardtop, hatchback, sedan, wagon]

### Case Study

In [89]:
# 1. Masalah count
df3.groupby(['body-style', 'engine-size']).count()
  ## Jikalau codenya gini, jadi bermasalah krn dia tampilin semua kolom
  ## trs gmn dong?
  ## kita buat kolom count khusus!
df3['count'] = 1
df3[['body-style', 'engine-size', 'count']].groupby(['body-style', 'engine-size']).count()
  ## dari sini kita tau bahwa, untuk tampilin summarize data, kita jg harus include kolom int (cont: count)


# 2. Masalah Groupby
df3.groupby(['body-style']) # --> ga bakal muncul output krn kita ga tampilin kolom apa dan measurement apa


# 3. Masalah Groupby II
df3['body-style'].groupby(['body-style']).count() # meskipun sesuai, tp dia ttp eror
  # ada keunikan slicing di sini, dmn dia harus dua kurung walo cm satu kolom (hanya berlaku di groupby)
df3[['body-style']].groupby(['body-style']).count() 


# 4. Masalah Groupby III
df3[['engine-size']].groupby(['body-style']).count() # --> eror, jd ga bisa slicing sembarangan
  ## At least, harus include si body style
df3[['engine-size', 'body-size']].groupby(['body-style']).count() # ttp eror 
  ## Karena body style hrs paling pertama
df3[[ 'body-style', 'engine-size']].groupby(['body-style']).count()
  ## output rentan bias. Biar ga bias, coba lihat masalah count yg code ke-3

             engine-size
body-style
convertible            6
hardtop                8
hatchback             70
sedan                 96
wagon                 25

# MANIPULASI DATA

## Conditional Changes

In [10]:
# 1. Mengubah value data
df3.loc[df3['fuel-type'] == 'wkwk', 'fuel-type'] = 'gas'
df3
  ## Maksud code: Assign df3 kolom fuel-type yg ber-value gass untuk diubah jadi wkwk (makanya dia kesimpen) 
  ## karena dia jadi berupa variabel, jadinya dia bervalue tetep dimanapun dia dipanggil

# 2. Mengubah value kolom
df3.loc[df3['fuel-type'] == 'gas', 'aspiration'] = 'std'
df3
  ## Maksud code: assign df3 kolom aspiration jadi pap, if it met gas as its fuel-type

,Unnamed: 0,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,...,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,status
0,0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,...,mpfi,3.47,2.68,9.0,111,5000,21,27,13495,non-degradable
1,1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,...,mpfi,3.47,2.68,9.0,111,5000,21,27,16500,non-degradable
2,2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,...,mpfi,2.68,3.47,9.0,154,5000,19,26,16500,non-degradable
3,3,2,164,audi,gas,std,four,sedan,fwd,front,...,mpfi,3.19,3.40,10.0,102,5500,24,30,13950,non-degradable
4,4,2,164,audi,gas,std,four,sedan,4wd,front,...,mpfi,3.19,3.40,8.0,115,5500,18,22,17450,non-degradable
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,200,-1,95,volvo,gas,std,four,sedan,rwd,front,...,mpfi,3.78,3.15,9.5,114,5400,23,28,16845,non-degradable
201,201,-1,95,volvo,gas,std,four,sedan,rwd,front,...,mpfi,3.78,3.15,8.7,160,5300,19,25,19045,non-degradable
202,202,-1,95,volvo,gas,std,four,sedan,rwd,front,...,mpfi,3.58,2.87,8.8,134,5500,18,23,21485,non-degradable
203,203,-1,95,volvo,diesel,turbo,four,sedan,rwd,front,...,idi,3.01,3.40,23.0,106,4800,26,27,22470,NaN
204,204,-1,95,volvo,gas,std,four,sedan,rwd,front,...,mpfi,3.78,3.15,9.5,114,5400,19,25,22625,non-degradable

# CLEANING CODE

## Dual Method Problem

In [ ]:
df3[['make','fuel-type','aspiration', 'body-style']][0:100].loc[df3['engine-size'] > 140]
 # code di atas sangatlah ga efisien
 # di samping itu, kita ga bisa describe si df3! Since ga bisa ada dual method :(
 # Let's repair it!

df4 = df3.iloc[:, 17:26]
df5 = df4.loc[df3['engine-size']>140]
df5.describe()
  ## Logikanya, kita define dulu mau ambil kolom dan row mana
  ## Baru kita apply where dgn memanfaatkan variabel

# gimana? lebih rapi bukan
  ## permasalahannya, klo complex method, cara ini jadi ga efisien!!

       engine-size  compression-ratio   city-mpg  highway-mpg
count    58.000000          58.000000  58.000000    58.000000
mean    178.310345          10.989655  20.068966    25.017241
std      42.559847           4.868650   3.726915     3.966931
min     141.000000           7.000000  13.000000    16.000000
25%     151.250000           8.400000  17.000000    24.000000
50%     164.000000           9.300000  19.000000    25.000000
75%     183.000000           9.500000  23.000000    28.000000
max     326.000000          23.000000  28.000000    33.000000

In [ ]:
#df3['Total'] = 
df3['Total Price'] = df3.iloc[:, 26:27].sum(axis = 1)
df3.iloc[:, 24:28].head(10)

   city-mpg  highway-mpg  price  Total
0        21           27  13495     21
1        21           27  16500     21
2        19           26  16500     19
3        24           30  13950     24
4        18           22  17450     18
5        19           25  15250     19
6        19           25  17710     19
7        19           25  18920     19
8        17           20  23875     17
9        16           22      ?     16